<a href="https://colab.research.google.com/github/ShinUkhang/basic_python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EA%B8%B0%EC%B4%88_2%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

if 문

In [ ]:
x=95

if x>=90:
    print("Pass")
else:
    print('Fail')

Pass

In [ ]:
x=85

if x>= 90:
    print('Very Good')
elif (x>=80)and(x<90):
    print('Good')
else:
    print('Bad')

Good

In [ ]:
x=85

if x>= 90:
    print('Very good')
elif 80<=x<90:
    print('Good')
else:
    print('Bad')

Good

for 문

In [ ]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [ ]:
for a in range(6): #0부터 5까지 연속된 자연수
    print(a)

0
1
2
3
4
5

In [ ]:
for a in range(1,6):
    print(a)

1
2
3
4
5

In [ ]:
for a in range(0,6,2):
    print(a)

0
2
4

In [ ]:
x_list=['1','2','3']
y_list=['학년','반']

for x in x_list:
    for y in y_list:
        print(x,y)

1 학년
1 반
2 학년
2 반
3 학년
3 반

In [ ]:
names=['James','Robert','Lisa','Mary']
scores=[95,96,97,94]

In [ ]:
len(names)

4

In [ ]:
for k in range(len(names)):
    if k==3:
      print(names[k],scores[k])

Mary 94

In [ ]:
for name,score in zip(names,scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94

In [ ]:
numbers=[1,2,3,4,5]
square=[]

for i in numbers:
    square.append(i**2)
print(square)

[1, 4, 9, 16, 25]

In [ ]:
numbers=[1,2,3,4,5]
square=[i**2 for i in numbers]
print(square)

[1, 4, 9, 16, 25]

if문과 for문을 함께 응용하기

In [ ]:
numbers=[1,2,3,4,5]
square=[]

for i in numbers:
    if i>=3:
        square.append(i**2)
print(square)

[9, 16, 25]

In [ ]:
numbers=[1,2,3,4,5]
square=[i**2 for i in numbers if i>=3]
print(square)

[9, 16, 25]

과제

1 부터 10까지 합을 구하시오

In [ ]:
s=0
for i in range(1,11):
    s=s+i
print(s)

55

피보나치 수열을 구해봅시다.

In [ ]:
a=0
b=1
c=1
for i in range(10):
    a=b+c
    b=a+c
    c=a+b
    print(a)
    print(b)
    print(c)

2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309

In [ ]:
a=0
b=1
for i in range(10):
    a=a+b
    b=a+b

    print(a)
    print(b)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946

입력과 출력

In [ ]:
a=3.14159265
print('{0:.2f}'.format(a))

3.14

In [ ]:
round(a,1)

3.1

In [ ]:
name=input('당신의 이름을 입력하세요!')
print('당신의 이름은 '+name+'이군요')

당신의 이름을 입력하세요!우캉우캉
당신의 이름은 우캉우캉이군요

In [ ]:
number=input('숫자를 입력하세요')
print(type(number))

number=int(number)
print(type(number))

숫자를 입력하세요2
<class 'str'>
<class 'int'>